.news {
    min-height: calc(100vh - 114px);
}

.news .wrapper {
    padding: 0px 10px;
}

.news .news--controlls {
    display: flex;
    justify-content: center;
    padding: 73px 0px;
}

.news .news--controlls button {
    width: 98px;
    height: 31px;
    /* padding: 3px 16px 0 17px; */
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #606060;
    cursor: pointer;
}

.news .news--controlls .active {
    border: solid 1px #1890ff;
    color: #1890ff;
}

.news .news--type select {
    padding: 5px 45px 5px 12px;
    margin-bottom: 37px;
    font-family: Roboto;
    font-size: 14px;
}

@media screen and (min-width: 720px) {
    .news .wrapper {
        max-width: 1140px;
        margin: auto;
    }
}